.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(233, 7, 120);
  align-items: center;
  margin-top: 5%;
  border: 5px solid yellow;
  border-radius: 10%;
  box-shadow: 3px 5px 100px 5px yellow;
  
}
.login-h2 {
  padding: 30px;
  color: white;
  font-size: 43px;
  text-align: center;
}
.label {
  color: white;
  font-size: 20px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 80%;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}
.login-btn {
  border: none;
  font-size: 20px;
  width: 80%;
  padding: 10px;
  background-color: yellow;
  color: black;
  border-radius: 10px;
}
.login-btn:hover {
  color: black;
  background: gold;
  box-shadow: 3px 5px 100px 10px yellow;
}
