.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
button {
  margin-top: 25px;
  margin-bottom: auto;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgba(21, 26, 42, 0.787);
}
.card {
  width: 300px;
  height: 300px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #ccc;
  border-radius: 10%;
  border: 2px solid yellow;
  background: rgb(253, 137, 195);
}
.card img {
  width: 80%;
  height: 50%;
  border-radius: 10px;
}
.card > p {
  padding: 10px;
  font-size: 30px;
}
.card:hover {
  box-shadow: 10px 10px 20px #ccc;
}

.orderBtn {
  width: 200px;
  background: yellow;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: black;
  font-size: 16px;
}
.orderBtn:hover {
  background: gold;
}

.addcart {
  border-radius: 10px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0px;
  background: yellow;
  color: black;
}

.addcart:hover {
  background: gold;
}